[Unit]
Description=Configure 1g4 default zram swap
DefaultDependencies=no
After=systemd-modules-load.service systemd-sysctl.service
Before=swap.target shutdown.target
Conflicts=shutdown.target
ConditionVirtualization=!container

[Service]
Type=oneshot
ExecStart=/usr/libexec/1g4-zram-setup start
ExecStop=/usr/libexec/1g4-zram-setup stop
RemainAfterExit=yes

[Install]
WantedBy=swap.target
