# sshguard.service -- sample systemd unit file

[Unit]
Description=SSHGuard - blocks brute-force login attempts
After=syslog.target
After=nftables.service

[Service]
ExecStartPre=
ExecStart=/usr/sbin/sshguard
Restart=always

[Install]
WantedBy=multi-user.target
