[Unit]
Description=Pure-FTPd server
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/pure-ftpd /etc/pure-ftpd.conf
Restart=on-failure
ProtectSystem=full

[Install]
WantedBy=multi-user.target
