[Unit]
Description=utmps daemon for the btmp service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/utmps-wtmpd -s /run/utmps/.btmpd-socket btmp
User=utmp
Restart=on-failure

[Install]
WantedBy=multi-user.target
