[Unit]
Description=Clearing and initialization of the utmp database
After=clock.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'touch /run/utmps/utmp && chown utmp:utmp /run/utmps/utmp && chmod 0644 /run/utmps/utmp'
ExecStart=/usr/bin/utmps-write -t 2000 -uw -l reboot -p 0 -h "$(uname -r)" -- '~~' BOOT_TIME '~'
ExecStart=/usr/bin/utmps-write -t 2000 -uw -l runlevel -p 20018 -h "$(uname -r)" -- '~~' RUN_LVL '~'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
