[Unit]
Description=utmps daemon for the wtmp service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/utmps-wtmpd -s /run/utmps/.wtmpd-socket wtmp
User=utmp
Restart=on-failure

[Install]
WantedBy=multi-user.target
