[Unit]
Description=utmps wtmp writer socket (testing, Accept=yes)

[Socket]
ListenStream=/run/utmps/.wtmpd-socket
SocketMode=0666
PassCredentials=yes
Accept=yes
RuntimeDirectory=utmps

[Install]
WantedBy=sockets.target
