[Unit]
Description=Hardware RNG Entropy Gatherer Daemon
DefaultDependencies=no
Before=sysinit.target shutdown.target

[Service]
DeviceAllow=/dev/null rw
DeviceAllow=/dev/random rw
ExecStart=/usr/sbin/rngd -f $RNGD_OPTS
IPAddressDeny=any
LimitMEMLOCK=0
LockPersonality=yes
MemoryDenyWriteExecute=yes
MountFlags=private
PrivateDevices=yes
PrivateMounts=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
NoNewPrivileges=on
PrivateNetwork=on
PrivateTmp=on
ProtectSystem=full
ProtectHome=on

[Install]
WantedBy=sysinit.target
