[Unit]
Description=D-Bus System Message Bus
Documentation=man:dbus-daemon(1)
Requires=dbus.socket

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/bin/dbus-daemon --system --address=systemd: --nofork --nopidfile --systemd-activation --syslog-only
ExecReload=/usr/bin/dbus-send --print-reply --system --type=method_call --dest=org.freedesktop.DBus / org.freedesktop.DBus.ReloadConfig
OOMScoreAdjust=-900
User=messagebus
Group=messagebus
AmbientCapabilities=CAP_AUDIT_WRITE

PrivateTmp=yes
PrivateDevices=yes
NoNewPrivileges=yes
ProtectSystem=full  # Allows writes to /var and /etc, accommodating many desktop apps
ProtectHome=read-only  # Allows reading from /home but prevents modifications
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6  # Commonly needed protocols

[Install]
WantedBy=multi-user.target
