[Unit]
Description=Load the drop XDP program on network interface %I
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/test -f /opt/xdp/xdp.o
ExecStart=/usr/bin/ip link set dev %I xdp obj /opt/xdp/xdp.o sec xdp
ExecStop=/usr/bin/ip link set dev %I xdp off

[Install]
WantedBy=multi-user.target
