[Unit]
Description=Synchronize password and group files
After=systemd-sysusers.service

[Service]
Type=simple
ExecStart=/bin/sh -c '/usr/bin/pwconv && /usr/bin/grpconv && exit 0'
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
