[Unit]
Description=Hardware RNG Entropy Gatherer Daemon
DefaultDependencies=no
Conflicts=shutdown.target
Before=sysinit.target shutdown.target
ConditionVirtualization=!container

[Service]
ExecStart=/usr/sbin/rngd -f $RNGD_OPTS

[Install]
WantedBy=sysinit.target
