[Unit]
Description=Hardware RNG Entropy Gatherer Daemon
DefaultDependencies=no
Conflicts=shutdown.target
Before=sysinit.target shutdown.target
ConditionVirtualization=!container

[Service]
ExecStart=/usr/sbin/rngd -f
CapabilityBoundingSet=CAP_SYS_ADMIN
ProtectSystem=full
ProtectHome=yes
PrivateDevices=no
NoNewPrivileges=yes
PrivateNetwork=yes
PrivateTmp=yes
ProtectKernelTunables=yes
RestrictNamespaces=yes
MemoryDenyWriteExecute=yes

[Install]
WantedBy=sysinit.target
