# /etc/systemd/system/sshd.service
[Unit]
Description=OpenSSH Daemon
Documentation=man:sshd(8)
Wants=sshdgenkeys.service
After=sshdgenkeys.service
After=network.target
Requires=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
ExecStart=/usr/bin/sshd -D
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
