[Unit]
Description=qBittorrent Daemon Service
After=network.target

[Service]
User=qbittorrent
Group=qbittorrent
Type=simple
ExecStart=/usr/bin/qbittorrent-nox
Restart=on-failure
RestartSec=5
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
DevicePolicy=closed
ProtectSystem=full
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictRealtime=yes
RestrictNamespaces=yes
MemoryDenyWriteExecute=yes

[Install]
WantedBy=multi-user.target
